.footer {
    padding: 40px 0 !important;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
}

.footer__social {
    margin-bottom: 40px;
}

.footer__social ul {
    display: flex;
    justify-content: center;
}

.footer__social li {
    padding: 0 48px;
}

.footer__social img:hover{
    width: 60px;
}

.footer__social img {
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
}