.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu ul{
    display: flex;
}

.header__menu-item {
    margin-right: 64px;
}

.header__menu-item a{
    color: #fff;
    transition: 0.3s;
}

.header__menu-item a:hover{
    color: rgba(255,255,0,0.8);
    font-size: 1.25rem;
}

.header__menu-item a.active{
    font-size: 1.25rem;
    color: yellow;
}

.header__logo {
    padding: 8px 0;
    width: 64px;

}

.header__logo img{
    border-radius: 50%;
    width: 100%;
}

